In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import json
import folium # Check description below if not already installed

from datetime import date

# 0. Description 

## Background
In this homework we will be exploring interactive visualization, which is a key ingredient of many successful data visualizations (especially when it comes to infographics).

Unemployment rates are major economic metrics and a matter of concern for governments around the world. Though its definition may seem straightforward at first glance (usually defined as the number of unemployed people divided by the active population), it can be tricky to define consistently. For example, one must define what exactly unemployed means : looking for a job ? Having declared their unemployment ? Currently without a job ? Should students or recent graduates be included ? We could also wonder what the active population is : everyone in an age category (e.g. `16-64`) ? Anyone interested by finding a job ? Though these questions may seem subtle, they can have a large impact on the interpretation of the results : `3%` unemployment doesn't mean much if we don't know who is included in this percentage. 

In this homework you will be dealing with two different datasets from the statistics offices of the European commission ([eurostat](http://ec.europa.eu/eurostat/data/database)) and the Swiss Confederation ([amstat](https://www.amstat.ch)). They provide a variety of datasets with plenty of information on many different statistics and demographics at their respective scales. Unfortunately, as is often the case is data analysis, these websites are not always straightforward to navigate. They may include a lot of obscure categories, not always be translated into your native language, have strange link structures, â€¦ Navigating this complexity is part of a data scientists' job : you will have to use a few tricks to get the right data for this homework.

For the visualization part, install [Folium](https://github.com/python-visualization/folium) (*HINT*: it is not available in your standard Anaconda environment, therefore search on the Web how to install it easily!). Folium's `README` comes with very clear examples, and links to their own iPython Notebooks -- make good use of this information. For your own convenience, in this same directory you can already find two `.topojson` files, containing the geo-coordinates of 

- European countries (*liberal definition of EU*) (`topojson/europe.topojson.json`, [source](https://github.com/leakyMirror/map-of-europe))
- Swiss cantons (`topojson/ch-cantons.topojson.json`) 

These will be used as an overlay on the Folium maps.

## Assignment

1. Go to the [eurostat](http://ec.europa.eu/eurostat/data/database) website and try to find a dataset that includes the european unemployment rates at a recent date.

   Use this data to build a [Choropleth map](https://en.wikipedia.org/wiki/Choropleth_map) which shows the unemployment rate in Europe at a country level. Think about [the colors you use](https://carto.com/academy/courses/intermediate-design/choose-colors-1/), how you decided to [split the intervals into data classes](http://gisgeography.com/choropleth-maps-data-classification/) or which interactions you could add in order to make the visualization intuitive and expressive. Compare Switzerland's unemployment rate to that of the rest of Europe.

2. Go to the [amstat](https://www.amstat.ch) website to find a dataset that includes the unemployment rates in Switzerland at a recent date.

   > *HINT* Go to the `details` tab to find the raw data you need. If you do not speak French, German or Italian, think of using free translation services to navigate your way through. 

   Use this data to build another Choropleth map, this time showing the unemployment rate at the level of swiss cantons. Again, try to make the map as expressive as possible, and comment on the trends you observe.

   The Swiss Confederation defines the rates you have just plotted as the number of people looking for a job divided by the size of the active population (scaled by 100). This is surely a valid choice, but as we discussed one could argue for a different categorization.

   Copy the map you have just created, but this time don't count in your statistics people who already have a job and are looking for a new one. How do your observations change ? You can repeat this with different choices of categories to see how selecting different metrics can lead to different interpretations of the same data.

3. Use the [amstat](https://www.amstat.ch) website again to find a dataset that includes the unemployment rates in Switzerland at recent date, this time making a distinction between *Swiss* and *foreign* workers.

   The Economic Secretary (SECO) releases [a monthly report](https://www.seco.admin.ch/seco/fr/home/Arbeit/Arbeitslosenversicherung/arbeitslosenzahlen.html) on the state of the employment market. In the latest report (September 2017), it is noted that there is a discrepancy between the unemployment rates for *foreign* (`5.1%`) and *Swiss* (`2.2%`) workers. 

   Show the difference in unemployment rates between the two categories in each canton on a Choropleth map (*hint* The easy way is to show two separate maps, but can you think of something better ?). Where are the differences most visible ? Why do you think that is ?

   Now let's refine the analysis by adding the differences between age groups. As you may have guessed it is nearly impossible to plot so many variables on a map. Make a bar plot, which is a better suited visualization tool for this type of multivariate data.

4. *BONUS*: using the map you have just built, and the geographical information contained in it, could you give a *rough estimate* of the difference in unemployment rates between the areas divided by the [RÃ¶stigraben](https://en.wikipedia.org/wiki/R%C3%B6stigraben)?

## Folium

#### Installation

We recommend using the latest version : `0.5.0`.

`Folium` is a regular python package, which can be installed through several means :

#### 1. Conda
```
conda install folium
```

#### 2. pip

```
pip install -U folium
``` 

By default, the `pip` command is linked to the local `python` distribution on. To use with your notebook, make sure you use the pip bundled with `anaconda`. On mac for example, this is usually : 
```
~/anaconda/bin/pip install -U folium
```

#### 3. Direct download

The package is available [directly from pypi](https://pypi.python.org/pypi/folium)

---

## 1. Eurostat

We can find on the Eurostat website many interesting european statistics. For our project we are going to use this specific one: [Employment rates by sex, age and citizenship](http://appsso.eurostat.ec.europa.eu/nui/show.do?dataset=lfsq_ergan&lang=en). It gathers the unemployment rates of every european countries from 2015 first quarter to 2017 second quarter.
We choose to download it into the .csv format and then import it into a Panda Dataframe for more data handling.

In [251]:
eurostat = pd.read_csv('data/eurostat.csv')
eurostat.head(10)

,TIME,GEO,SEX,AGE,CITIZEN,UNIT,Value,Flag and Footnotes
0,2015Q1,European Union (28 countries),Total,From 15 to 64 years,Total,Percentage,64.7,NaN
1,2015Q1,European Union (28 countries),Males,From 15 to 64 years,Total,Percentage,69.8,NaN
2,2015Q1,European Union (28 countries),Females,From 15 to 64 years,Total,Percentage,59.7,NaN
3,2015Q1,European Union (27 countries),Total,From 15 to 64 years,Total,Percentage,64.8,NaN
4,2015Q1,European Union (27 countries),Males,From 15 to 64 years,Total,Percentage,69.9,NaN
5,2015Q1,European Union (27 countries),Females,From 15 to 64 years,Total,Percentage,59.8,NaN
6,2015Q1,European Union (15 countries),Total,From 15 to 64 years,Total,Percentage,65.4,NaN
7,2015Q1,European Union (15 countries),Males,From 15 to 64 years,Total,Percentage,70.3,NaN
8,2015Q1,European Union (15 countries),Females,From 15 to 64 years,Total,Percentage,60.6,NaN
9,2015Q1,Euro area (19 countries),Total,From 15 to 64 years,Total,Percentage,63.7,NaN

In [252]:
print('Values in TIME: {}'.format(eurostat['TIME'].unique()))
print('Values in SEX: {}'.format(eurostat['SEX'].unique()))
print('Values in AGE: {}'.format(eurostat['AGE'].unique()))
print('Values in CITIZEN: {}'.format(eurostat['CITIZEN'].unique()))
print('Values in UNIT: {}'.format(eurostat['UNIT'].unique()))
print('Values in Flag and Footnotes: {}'.format(eurostat['Flag and Footnotes'].unique()))

Values in TIME: ['2015Q1' '2015Q2' '2015Q3' '2015Q4' '2016Q1' '2016Q2' '2016Q3' '2016Q4'
 '2017Q1' '2017Q2']
Values in SEX: ['Total' 'Males' 'Females']
Values in AGE: ['From 15 to 64 years']
Values in CITIZEN: ['Total']
Values in UNIT: ['Percentage']
Values in Flag and Footnotes: [nan 'b']

In [253]:
print('Values in GEO: {}'.format(eurostat['GEO'].unique()))

Values in GEO: ['European Union (28 countries)' 'European Union (27 countries)'
 'European Union (15 countries)' 'Euro area (19 countries)'
 'Euro area (18 countries)' 'Euro area (17 countries)' 'Belgium' 'Bulgaria'
 'Czech Republic' 'Denmark'
 'Germany (until 1990 former territory of the FRG)' 'Estonia' 'Ireland'
 'Greece' 'Spain' 'France' 'Croatia' 'Italy' 'Cyprus' 'Latvia' 'Lithuania'
 'Luxembourg' 'Hungary' 'Malta' 'Netherlands' 'Austria' 'Poland' 'Portugal'
 'Romania' 'Slovenia' 'Slovakia' 'Finland' 'Sweden' 'United Kingdom'
 'Iceland' 'Norway' 'Switzerland'
 'Former Yugoslav Republic of Macedonia, the' 'Turkey']

In [254]:
def convert_time(time):
    quarter = int(time[time.find('Q')+1])
    year = int(time[0:4])
    return pd.Timestamp(date(year, quarter*3, 1) ) 

eurostat.drop(['AGE', 'CITIZEN', 'UNIT', 'Flag and Footnotes'], axis=1, inplace=True)
eurostat.TIME = eurostat.TIME.apply(convert_time)
eurostat = eurostat.loc[eurostat.TIME == eurostat.TIME.max()]

In [255]:
#Data Processing - Keep only useful column
eurostat.TIME.value_counts()

2017-06-01    117
Name: TIME, dtype: int64

In [256]:
drop_geo = ['European Union (28 countries)', 'European Union (27 countries)',
            'European Union (15 countries)', 'Euro area (19 countries)', 
            'Euro area (18 countries)', 'Euro area (17 countries)']

eurostat = eurostat.loc[[name not in drop_geo for name in eurostat.GEO]]

In [257]:
eurostat.GEO.unique()

array(['Belgium', 'Bulgaria', 'Czech Republic', 'Denmark',
       'Germany (until 1990 former territory of the FRG)', 'Estonia',
       'Ireland', 'Greece', 'Spain', 'France', 'Croatia', 'Italy',
       'Cyprus', 'Latvia', 'Lithuania', 'Luxembourg', 'Hungary', 'Malta',
       'Netherlands', 'Austria', 'Poland', 'Portugal', 'Romania',
       'Slovenia', 'Slovakia', 'Finland', 'Sweden', 'United Kingdom',
       'Iceland', 'Norway', 'Switzerland',
       'Former Yugoslav Republic of Macedonia, the', 'Turkey'], dtype=object)

In [258]:
state_geo_path = 'topojson/europe.topojson.json'
geo_json_data = json.load(open(state_geo_path))
geo_countries = []
for country in geo_json_data['objects']['europe']['geometries']:
    geo_countries.append(country['properties']['NAME'])
print('Countries: {}'.format(geo_countries))

Countries: ['Azerbaijan', 'Albania', 'Armenia', 'Bosnia and Herzegovina', 'Bulgaria', 'Cyprus', 'Denmark', 'Ireland', 'Estonia', 'Austria', 'Czech Republic', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Croatia', 'Hungary', 'Iceland', 'Israel', 'Italy', 'Latvia', 'Belarus', 'Lithuania', 'Slovakia', 'Liechtenstein', 'The former Yugoslav Republic of Macedonia', 'Malta', 'Belgium', 'Faroe Islands', 'Andorra', 'Luxembourg', 'Monaco', 'Montenegro', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Republic of Moldova', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom', 'Ukraine', 'San Marino', 'Serbia', 'Holy See (Vatican City)', 'Russia']

In [259]:
eurostat.loc[ [country not in geo_countries for country in eurostat.reset_index().GEO] ]

,TIME,GEO,SEX,Value
1083,2017-06-01,Germany (until 1990 former territory of the FRG),Total,74.8
1084,2017-06-01,Germany (until 1990 former territory of the FRG),Males,78.6
1085,2017-06-01,Germany (until 1990 former territory of the FRG),Females,71.0
1164,2017-06-01,"Former Yugoslav Republic of Macedonia, the",Total,50.5
1165,2017-06-01,"Former Yugoslav Republic of Macedonia, the",Males,60.4
1166,2017-06-01,"Former Yugoslav Republic of Macedonia, the",Females,40.3

In [261]:
eurostat.GEO.replace(
    {'Germany (until 1990 former territory of the FRG)': 'Germany',
     'Former Yugoslav Republic of Macedonia, the': 'The former Yugoslav Republic of Macedonia'}, inplace=True)

In [262]:
json_id_keep = [country['properties']['NAME'] in eurostat.GEO.values 
                for country in geo_json_data['objects']['europe']['geometries']]

geo_json_data['objects']['europe']['geometries'] = np.array(geo_json_data['objects']['europe']['geometries'])[json_id_keep].tolist()

In [263]:
eurostat = eurostat.pivot_table(index=['GEO', 'TIME'], columns='SEX', values='Value')
eurostat = 100-eurostat
eurostat.head()

SEX                  Females  Males  Total
GEO      TIME
Austria  2017-06-01     31.9   23.8   27.8
Belgium  2017-06-01     41.6   32.9   37.2
Bulgaria 2017-06-01     36.1   29.5   32.8
Croatia  2017-06-01     46.3   35.3   40.8
Cyprus   2017-06-01     38.7   29.8   34.4

In [276]:
europe_boundaries_path = os.path.join('topojson', 'europe.topojson.json')
europe_coordinates = [52,24]
europe_map = folium.Map(location = europe_coordinates, zoom_start = 3.5)

linear = folium.LinearColormap(['green','yellow','red'], vmin=3., vmax=10.)

europe_map.choropleth(geo_data=geo_json_data, data=eurostat.reset_index(),
                      columns=['GEO', 'Total'],
                      key_on='feature.properties.NAME', topojson='objects.europe',
                      fill_color=linear, fill_opacity=0.7, line_opacity=0.2,
                      legend_name='Percentage unemployement for Total poulation')
europe_map

ValueError: Please pass a valid color brewer code to fill_local. See docstring for valid codes.